<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PRACTICA FRONT</title>

  <link rel="stylesheet" href="/css/style.css" />

</head>

<body>

  <section class="header">
    <nav>
      <a href="/"><img src="/img/logo.png" alt="" /></a>
      <div class="nav-links" id="navLinks">

        <svg xmlns="http://www.w3.org/2000/svg" class="ico" onclick="hideMenu()" fill="currentColor" class="bi bi-x-lg"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"></path>
          <path fill-rule="evenodd"
            d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"></path>
        </svg>

        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Mailer</a></li>
        </ul>

      </div>
      <svg xmlns="http://www.w3.org/2000/svg" class="ico" onclick="showMenu()" fill="currentColor" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z">
        </path>
      </svg>

    </nav>

    <div class="text-box">
      <h1>Practica Fronnt</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, cum non quod repellat ipsam modi, <br> quaerat laborum rerum repudiandae placeat incidunt voluptas ut illo suscipit praesentium vitae! Quia, fugit perspiciatis. </p>
      <a href="https://www.instagram.com/lucas.figueroa22/">Visit us!</a>
    </div>
  </section>

  <section class="cards-info">
    <h1>Titulo de mi front</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim labore
      voluptas omnis veritatis nihil ducimus quasi quae a! Porro adipisci modi
      deserunt reiciendis dignissimos soluta nam quod dolores possimus
      molestias?</p>
    <div class="row">
      <div class="column">
        <h3>texto de titulo ejemplo</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Laboriosam sint voluptate exercitationem, ad architecto accusantium
          sit molestiae reprehenderit dicta ipsum dolores rerum placeat
          recusandae autem mollitia est itaque quia repellat.</p>
      </div>
      <div class="column">
        <h3>texto de titulo ejemplo</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Laboriosam sint voluptate exercitationem, ad architecto accusantium
          sit molestiae reprehenderit dicta ipsum dolores rerum placeat
          recusandae autem mollitia est itaque quia repellat.</p>
      </div>
      <div class="column">
        <h3>texto de titulo ejemplo</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Laboriosam sint voluptate exercitationem, ad architecto accusantium
          sit molestiae reprehenderit dicta ipsum dolores rerum placeat
          recusandae autem mollitia est itaque quia repellat.</p>
      </div>
    </div>
  </section>


  <section class="img-info"> {{!-- la buena forma es armar un contenedor y a dentro otros hijos para el manejo de elementos flexibles de mejor manera --}}
    <h1>Another seccion en mi project</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum est corporis, ipsum minima maxime atque animi consequatur eos enim sint laboriosam accusantium sed assumenda commodi dolore nesciunt molestias voluptas hic?</p>
    <div class="row">

      <div class="img-info-col">
        <img src="/img/img1.jpg" alt="banner-img">
        <div class="layer">
          <h3>Estudia</h3>
        </div> 
      </div>
       <div class="img-info-col">
        <img src="/img/img2.jpg" alt="banner-img">
        <div class="layer">
          <h3>Avanza</h3>
        </div> 
      </div>
       <div class="img-info-col">
        <img src="/img/img3.jpg" alt="banner-img">
        <div class="layer">
          <h3>Conecta con Dios</h3>
        </div> 
      </div>
       <div class="img-info-col">
        <img src="/img/img4.jpg" alt="banner-img">
        <div class="layer">
          <h3>Recuerda de donde Vienes</h3>
        </div> 
      </div>



    </div>

  </section>

   <section class="anoter">
      <h1>Our Projetc</h1>
      <p>lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <div class="row">
            <div class="anoter-col">
              <img src="/img/b1.jpg" alt="b1">
              <h3>Titulo de ejemplo</h3>
              <p>lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="anoter-col">
              <img src="/img/b2.jpg" alt="b1">
              <h3>Titulo de ejemplo</h3>
              <p>lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="anoter-col">
              <img src="/img/b3.jpg" alt="b1">
              <h3>Titulo de ejemplo</h3>
              <p>lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>

            </div>

  </section>








  {{! ----script para toggle menu----- }}
  <script>
    var navLinks = document.getElementById("navLinks"); 

    function showMenu() {
      navLinks.style.right = "0";

    } function hideMenu() {
      navLinks.style.right ="-200px";
    }

  </script>

</body>

</html>